/*This about tamang css
*/
/* ---------------------------
         About Us Section
--------------------------------*/
.yatra-main-menu{
  position: fixed !important;
}
#scrollUp {
  padding-top: 10px!important;
}

#more, #more2, #more3, #more4, #more5, #more6{display: none;}

#myBtn, #myBtn2, #myBtn3, #myBtn4, #myBtn5, #myBtn6 {
  border: solid 2px #149df9 !important;
  border-radius: 20px;
  background-color: #149df9;
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}

#about {
    background: #fff;
    padding: 60px 0;
  }

  #about .container h3{
    font-weight: 900;
    font-size: 36px;
  }
  #about .container p{
    font-weight: 100;
    font-size: 24px;
  }

  #about .about-container .background {
    margin: 20px 0;
  }

  
  #about .about-container .content {
    background: #fff;
  }
  
  #about .about-container .title {
    color: #333;
    font-weight: 1000;
    font-size: 64px;
  }
  
  #about .about-container p {
    line-height: 36px;
  }
  
  #about .about-container p:last-child {
    margin-bottom: 0;
  }

  #about .about-extra {
    padding-top: 80px;
  }
  
  #about .about-extra h4 {
    font-weight: 1000;
    font-size: 36px;
  }
  #about .about-extra p {
    font-weight: 100;
    font-size: 24px;
  }

  