/*This about tamang css
*/
/* ---------------------------
         About Us Section
--------------------------------*/
#about {
    background: #fff;
    padding: 60px 0;
  }


  #about .container h3{
    font-weight: 1000;
    font-size: 36px;
  }
  #about .container p{
    font-weight: 100;
    font-size: 24px;
  }

  #about .about-container .background {
    margin: 20px 0;
  }

  
  #about .about-container .content {
    background: #fff;
  }
  
  #about .about-container .title {
    color: #333;
    font-weight: 1000;
    font-size: 64px;
  }
  
  #about .about-container p {
    line-height: 36px;
  }
  
  #about .about-container p:last-child {
    margin-bottom: 0;
  }

  #about .about-extra {
    padding-top: 80px;
  }
  
  #about .about-extra h4 {
    font-weight: 1000;
    font-size: 36px;
  }
  #about .about-extra p {
    font-weight: 100;
    font-size: 24px;
  }

  